{% extends 'base.html.twig' %}

{% set title='pastebin.pasteViewTitle'|trans %}

{% block body %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col">
            <h2>{{ title }}</h2>
            <hr/>
        </div>
    </div>
    {% if paste is defined and paste %}
    <div class="row">
        <div class="col">
            <span id="pasteTitle"><strong>{% trans %}pastebin.paste.title{% endtrans %}</strong>:
            {{ paste.title }}
            </span><br/>

            <span id="pasteCode"><strong>{% trans %}pastebin.paste.code{% endtrans %}</strong>:
            {{ paste.code }}
            </span><br/>

            <span id="pasteCode"><strong>{% trans %}pastebin.paste.date{% endtrans %}</strong>:
            {{ paste.date|date('Y-m-d H:i:s')  }}
            </span><br/>

            <span id="pasteCode"><strong>{% trans %}pastebin.paste.text{% endtrans %}</strong>:</span><br/>

            <div id="pasteText">{{ pasteText|raw }}</div>

        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% include 'snippets/alertContainer.html.twig' %}
        </div>
    </div>
{% endblock %}
