{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.title) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.text) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.save) }}
    </div>
</div>
{{ form_end(form) }}